{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}

		<img src="{% static "images/chameleon.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
		<h1>Rango says...hello world!</h1>
		
		<h2><u>Categories</u></h2>
		{% if categories %}
			<ul>
				{% for category in categories %}
				    <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}

		<h2><u>Top 5 Pages</u></h2>
		{% if pages %}
			<table style = "width:75%" border="2">
			<!-- Add the headers -->
			<tr strong>
				<td><strong>Title</strong></td>
				<td><strong>URL</strong></td>
				<td><strong>Views</strong></td>
			</tr>

			{% for page in pages%}
				<tr>
					<td> {{page.title}} </td>
					<td><a href= {{page.url}}>{{page.url}}</a> </td>
					<td> {{page.views}} </td>
				</tr>	
			{% endfor %}	
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
		</table>
		<br/>
		<br/>
{% endblock %}			

</html>